    <div class="texto">
        <h1>Seja bem-vindo ao FinanSESI</h1>
        <h3>Aprendendo programação e finanças</h3>
    </div>
    <section class="card-container">
    <div class="card-juros">
        <div class="texto-card">Juros Simples</div>
        <img src="./img/juros_simples.png" alt="">
    </div>

    <div class="card-juros">
        <div class="texto-card">Juros Compostos</div>
        <img src="./img/juros_composto.png" alt="">
    </div>
</section>