
    <h1>Projeto Desenvolvido por</h1>
    <p>Douglas Camata de Araujo e Ricardo dos Anjos Dias</p>
    <hr>
    <p>Este Projeto foi devenvolvido no intuito de criar um sistema para aprendermos a programação analoga à finanças</p>
    <strong>Desenvolvido e feito em sala de aula em parceria SESI/SENAI</strong>
